%h1 Enter text to be buttonated
%form{:action => "/create", :method => "post", 'accept-charset' => "utf-8"}
  %p
    %input#text{:type => "text", :name => "text"}/
  %p
    Choose a font
    %table{:cellspacing => "0"}
      %tr
        %td
          %input{:type => "radio", :name => "font", :value => "#{@first_font.filename}", :checked => "checked"}/
          = @first_font.name
        %td
          %img{:src => "#{@first_font.image_name}"}
      - for font in @fonts
        %tr
          %td
            %input{:type => "radio", :name => "font", :value => "#{font.filename}"}/
            = font.name
          %td
            %img{:src => "#{font.image_name}"}
  %p
    %input{:type => "submit", :value => "Buttonate!"}/

%h2 Most recent button
%p
  %img{:src => "button.png", :width => "200", :height => "50"}
